[submodule "tree-sitter-markdown"]
	path = tree-sitter-markdown
	url = ../../tree-sitter-grammars/tree-sitter-markdown
[submodule "tree-sitter-mim"]
	path = tree-sitter-mim
	url = https://github.com/mimir/tree-sitter-mim
