.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
tree-sitter-mim/**
tree-sitter-markdown/**
generate_wasm.sh
.gitmodules
eslint.config.mjs
